@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Single+Day);
/*
@import-normalize;
@tailwind base;
@tailwind components;
*/
body {
  background-color: rgb(221,161,94);
  color: #582f0e;
  padding-top: 0%;
  margin-top: 0%;
  border-top: 0%;
  display: grid;
}
ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-evenly;
  margin: auto;
  border: #723008 2px solid;
  padding: 0;
  overflow: hidden;
  background-color: #723008;
  width: 100%;
  min-height: 60px;
}
li {
  display: flex;
  border-right: rgb(216, 198, 81);
}
li a {
  color: rgb(216, 198, 81);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: rgba(216, 198, 81, 0.668);
}

#navigation {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-size: 1.3em;
}
div {
  display: grid;
}

h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-size: 3em;
}

h2 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-size: 1.5em;
}

img{
  margin: auto;
}

th, tr, td{
  border: 1px solid;
}
